
@model Vika_Shop.Views.Kos.IndexModel

@{ 
	Layout = null;
}
<!doctype html>
<html>
<head>
	<title>Магазин косметики</title>	
	<meta charset="utf-8" />
</head>
<body>Огромный выбор косметики по приемлемым ценам</body>
</html>